<%- include("../../partials/header.ejs") %> <!-- every ../ it returns a folder -->
<body> 
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category editing</h2>
        </div>
        <div class="card-body">
        <form method="post" action="/categories/update">
            <input class="form-control" type="text" name="title" placeholder="Define the title of category" value="<%= category.title %>"><br>
            <input type="hidden" name="id" value="<%= category.id %>">
            <button class="btn btn-success" type="submit">Update</button>
        </form>
        </div>
    </div>
</div>
</body>
<%- include("../../partials/footer.ejs") %>

