<%- include("partials/header.ejs") %>
<body>
<%- include("partials/homenavbar.ejs") %>
<div class="container">
    <hr>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to GuiaPress</h1>
          <p class="lead">This is a simple blog.</p>
        </div>
      </div>
    <% articles.forEach(article=>{ %>
        <hr>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %>" class="btn btn-success">Read article</a>
            </div>
        </div>
        <br>
    <% }) %>
</div>
</body>
<%- include("partials/footer.ejs") %>
