<%- include("../../partials/header.ejs") %> <!-- every ../ it returns a folder -->
<body> 
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Updating of user</h2>
        </div>
        <div class="card-body">
        <form method="post" action="/users/update">
            <input type="hidden" name="id" value="<%= user.id %>">
            <input class="form-control" type="text" name="name" placeholder="Name" value="<%= user.name %>"><br>
            <input class="form-control" type="email" name="email" placeholder="example@gmail.com"  value="<%= user.email %>"><br>
            <input class="form-control" type="password" name="password" placeholder="**********" value=""><br>
            <button class="btn btn-success" type="submit">Updating</button>
        </form>
        </div>
    </div>
</div>
</body>
<%- include("../../partials/footer.ejs") %>